.gallerySliderShell {
  background: #f2f2f2;
}
.gallerySlider {
  background: transparent;
  text-align: center;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.gallerySlider h2 {
  color: #9d9d9d;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}

.splideType1 {
  background: #fff;
  width: auto;
  height: 230px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.splideType1 img {
  filter: grayscale();
}

@media screen and (max-width: 600px) {
  .gallerySlider h2 {
    font-size: 20px;
  }
}
