.donate-goal {
  width: 62vw;
  max-width: 1160px;
  margin: 120px auto 20px;
}

.donate-goal .causes-one__progress .bar {
  height: clamp(30px, 14vw, 75px);
}

.donate-goal .causes-one__goals > p,
.donate-goal .causes-one__goals > p > span {
  font-size: clamp(14px, 2.2vw, 24px);
}

.donate-goal .causes-one__progress .bar-inner {
  height: 100%;
}

.donate-goal .causes-one__progress .bar-inner.counted .count-text {
  position: absolute;
  right: -58px;
  top: -47px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  height: 40px;
  width: 60px;
}

.donate-goal .causes-one__progress .count-text:after {
  border-right: 12px solid transparent;
  border-top: 7px solid var(--sopot-base);
}
